*{
    margin: 0;
    box-sizing: border-box;
}


.my-width {
    width: 1000px;
    margin: 0 auto;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 1px solid transparent; 
    box-shadow: inset 5px 5px 10px black;
    transition: box-shadow 0.3s;
}

.square:hover {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8); 
}

.hard{
    height: auto;
    width: calc(100% / 7);
   
}

.medium {
    height: auto;
    width: calc(100% / 9);
    
}

.easy {
    height: auto;
    width: calc(100% / 10);
    

}





.active {
    background-color: darkmagenta;
    border: 1px solid transparent;
    box-shadow:inset 5px 5px 10px #240024;
    font-weight: bold;
    font-size: 20px;
}


@media screen and (min-width:0px) and (max-width:574px) {
    .hard {
        width: calc(100% / 7);

        height: 139.43px;
    

    }

    .medium {
        width: calc(100% / 9);
        height: 97.6px;

    }

    .easy {
        width: calc(100% / 10);
        height: 51.6px;

    }

}

@media screen and (min-width:575px) and (max-width:767px) {
    .hard {
        width: calc(100% / 7);
        height: 73.71px;
    }

    .medium {
        width: calc(100% / 9);
        height: 51.6px;

    }

    .easy {
        width: calc(100% / 10);
        height: 51.6px;

    }


}

@media screen and (min-width:768px) and (max-width:991px) {
    .hard {
        width: calc(100% / 7);
        height: 99.43px;
    }

    .medium {
        width: calc(100% / 9);
        height: 69.6px;

    }

    .easy {
        width: calc(100% / 10);
        height: 69.6px;

    }


}

@media screen and (min-width:992px) and (max-width:1999px) {
    .hard {
        width: calc(100% / 7);
        height: 133.71px;
    }

    .medium {
        width: calc(100% / 9);
        height: 93.6px;

    }

    .easy {
        width: calc(100% / 10);
        height: 93.6px;

    }


}

@media screen and (min-width:1200px) {

    .hard {
        width: calc(100% / 7);

        height: 139.43px;

    }

    .medium {
        width: calc(100% / 9);
        height: 97.6px;
   

    }

    .easy {
        width: calc(100% / 10);
        height: 93.6px;

    }

    
}